@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

.square {
  position: relative;
  width: 1080px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 128px;
}

.preview-container .logo {
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.custom-shadow {
  box-shadow:
    0 2.4px 3.7px -20px rgba(0, 0, 0, 0.034),
    0 5.9px 8.8px -20px rgba(0, 0, 0, 0.048),
    0 11px 16.5px -20px rgba(0, 0, 0, 0.06),
    0 19.7px 29.5px -20px rgba(0, 0, 0, 0.072),
    0 36.8px 55.1px -20px rgba(0, 0, 0, 0.086),
    0 88px 132px -20px rgba(0, 0, 0, 0.12)
  ;
}

/* Light Theme */
.preview-container #preview-quote {
  background-color: #ffffff;
  color: #22335B;
}
.preview-container #preview-quote .logo {
  background-image: url("../assets/images/ia-logo-primary-horizontal.png");
  background-position: left;
}
.preview-container #preview-question {
  background-color: #FFFFFF;
  color: #000000;
}
.preview-container #preview-question .post-type {
  color: #5DE3B1;
}
.preview-container #preview-question .logo {
  background-image: url("../assets/images/ia-logo-dark-horizontal.png");
  background-position: 128px;
}
.preview-container #preview-fact {
  background-color: #FFFFFF;
  color: #3277CF;
}
.preview-container #preview-fact .logo {
  background-image: url("../assets/images/ia-logo-primary-vertical.png");
  background-position: center;
}
.preview-container #preview-fact .bg-asset-fact {
  background-image: url("../assets/images/bg-asset-fact-dark.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.preview-container #preview-fill {
  background-image: url("../assets/images/asset-bg-fill-light.png");
  background-position: center;
  color: #000000;
}
.preview-container #preview-fill .post-type {
  color: #3D5793;
}
.preview-container #preview-fill .logo {
  background-image: url("../assets/images/ia-logo-primary-horizontal.png");
  background-position: 128px;
}

/* Dark Theme */
.preview-container.dark-theme #preview-quote {
  background-color: #1C2A4D;
  color: #D7DDEB;
}
.preview-container.dark-theme #preview-quote .logo {
  background-image: url("../assets/images/ia-logo-light-horizontal.png");
  background-position: left;
}
.preview-container.dark-theme #preview-question {
  background-color: #0FA970;
  color: #FFFFFF;
}
.preview-container.dark-theme #preview-question .post-type {
  color: #CDF9E9;
}
.preview-container.dark-theme #preview-question .logo {
  background-image: url("../assets/images/ia-logo-light-horizontal.png");
  background-position: 128px;
}
.preview-container.dark-theme #preview-fact {
  background-color: #3277CF;
  color: #FFFFFF;
}
.preview-container.dark-theme #preview-fact .logo {
  background-image: url("../assets/images/ia-logo-light-vertical.png");
  background-position: center;
}
.preview-container.dark-theme #preview-fact .bg-asset-fact {
  background-image: url("../assets/images/bg-asset-fact-light.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.preview-container.dark-theme #preview-fill {
  background-image: url("../assets/images/asset-bg-fill-dark.png");
  background-position: center;
  color: #FFFFFF;
}
.preview-container.dark-theme #preview-fill .post-type {
  color: #D7DDEB;
}
.preview-container.dark-theme #preview-fill .logo {
  background-image: url("../assets/images/ia-logo-light-horizontal.png");
  background-position: 128px;
}
